<div id="dynamic-list">
  {{#each products}}
    <h2>{{title}}</h2>
    <p>{{description}}</p>
    <p>ID: {{id}}</p>
    <p>Código: {{code}}</p>
    <p>Categoría: {{category}}</p>
    <p>Stock: {{stock}}</p>
    <img height="150px" width="150px" src={{thumbnails}} alt="" />
    <p>Precio: ${{price}}</p>
    <p>Status: {{status}}</p>
  {{/each}}
</div>

{{#each limitedProducts}}
  <div>
    <h2>{{title}}</h2>
    <p>{{description}}</p>
    <p>ID: {{id}}</p>
    <p>Código: {{code}}</p>
    <p>Categoría: {{category}}</p>
    <p>Stock: {{stock}}</p>
    <img height="150px" width="150px" src={{thumbnails}} alt="" />
    <p>Precio: ${{price}}</p>
    <p>Status: {{status}}</p>
  </div>
{{/each}}

{{#each productById}}
  <div>
    <h2>{{title}}</h2>
    <p>{{description}}</p>
    <p>ID: {{id}}</p>
    <p>Código: {{code}}</p>
    <p>Categoría: {{category}}</p>
    <p>Stock: {{stock}}</p>
    <img height="150px" width="150px" src={{thumbnails}} alt="" />
    <p>Precio: ${{price}}</p>
    <p>Status: {{status}}</p>
  </div>
{{/each}}

<form id="addProductForm">
  <h2>Agregar Producto</h2>
  <input
    type="text"
    name="title"
    id="titleProd"
    placeholder="Título"
    required
  />
  <input
    type="text"
    name="description"
    id="descProd"
    placeholder="Descripción"
    required
  />
  <input
    type="text"
    name="category"
    id="catProd"
    placeholder="Categoría"
    required
  />
  <input
    type="number"
    name="price"
    id="priceProd"
    placeholder="Precio"
    required
  />
  <input type="text" name="code" id="codeProd" placeholder="Código" required />
  <input type="url" name="url" id="urlInput" placeholder="URL" />
  <input
    type="number"
    name="stock"
    id="stockProd"
    placeholder="Stock"
    required
  />
  <button type="submit">Agregar</button>
</form>

<form id="deleteProductForm">
  <h2>Eliminar Producto</h2>
  <input type="number" id="productId" name="productId" placeholder="ID del Producto" required />
  <button type="submit">Eliminar</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/test-socket.js"></script>